/* SideBar.css */

.sidebar {
  padding: 1rem;
  height: 100%;
  position: fixed;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  left: 0;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0); 
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 1rem 0;
  display: flex;
  align-items: center; 
}

.sidebar nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 0.5rem;
  border-radius: 4px;
}

.sidebar nav ul li.active a,
.sidebar nav ul li a:hover {
  background-color: #6947BF; 
  padding: 0.5rem 1rem; 
}

.sidebar nav ul li.active img,
.sidebar nav ul li a:hover img {
  filter: brightness(2.5) invert(1);
}

.sidebar img {
  width: 24px; 
  height: 24px;
  margin-right: 0.5rem; 
}

/* Close button */
.close-btn {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  padding: 20px;
  top: 10px;
  right: 10px;
}

/* Show sidebar always on large screens */
@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
  }

  .close-btn {
    display: none; 
  }
}

/* Show close button and hide sidebar initially on mobile */
@media (max-width: 768px) {
  .close-btn {
    display: block;
  }
  .sidebar{
    width: 120px;
  }
}
