
.content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 60px; 
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  background-color: #E5ECF3;
  border-radius:12px 0px 0px 0px !important;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
}
