/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 0;
  overflow: hidden;
}

.main-content {
  flex: 1;
  background-color: #E5ECF3;
  border-radius: 12px 0 0 0 !important;
  padding: 1rem;
  overflow-y: auto;
}



/* Responsive Design */
@media (max-width: 768px) {

  .content-wrapper {
    flex-direction: column;
  }

  .main-content {
    padding: 0.5rem;
    margin-top: 60px; /* For header adjustment */
    margin-left: 0; /* No left margin on small screens */
  }



  /* Sidebar should collapse or hide on smaller screens */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background-color: #fff;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
    margin-top: 2rem;
  }

  /* Adjust header to align items correctly on smaller screens */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }

  .hamburger-menu {
    font-size: 1.5rem;
    cursor: pointer;
  }

 
}
